@page "/fetchdata"
@using ShopProduct.Client.Utility
@using ShopProduct.Shared
@inject DataService DataService

<PageTitle>Weather forecast</PageTitle>

<h1>Product</h1>

<p>Avaible Items</p>

@if (userId == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>userId</p>
    <p>@userId.Username</p>
}

@code {
    private UserLoginData userId;

    protected async override Task OnInitializedAsync()
    {
        //userId = await DataService.GetAsync<UserLogin>("Product");
    }
}
