@page "/Product"
@using ShopProduct.Client.Utility
@using ShopProduct.Shared
@inject DataService dataService


<h3>Product Pages</h3>

<div>
    <RadzenButton onclick="@AddProduct">Add</RadzenButton>
    <RadzenButton onclick="@RemoveAdd">Remove</RadzenButton>
</div>

<div>
    <h5>TESTING RADZEN</h5>

    <RadzenCard Style="width: 100%; padding: 0;">
        <RadzenRow Gap="0">
            <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                <p>ID</p>
                <RadzenRow Gap="0">
                    <RadzenColumn Size="12" SizeMD="6" SizeLG="2">
                        <p>Testing Child Columnd</p>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                <RadzenRow Gap="0">
                    <RadzenColumn Size="12" SizeMD="6" SizeLG="2">
                        <p>Testing Child Columnd</p>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                <RadzenRow Gap="0">
                    <RadzenColumn Size="12" SizeMD="6" SizeLG="2">
                        <p>Testing Child Columnd</p>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenColumn>
            <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                <RadzenRow Gap="0">
                    <RadzenColumn Size="12" SizeMD="6" SizeLG="2">
                        <p>Testing Child Columnd</p>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenColumn>
        </RadzenRow>
    </RadzenCard>

</div>

<style>
    .product-title {
        min-height: 72px;
        background-color: var(--rz-secondary-lighter);
    }

    .price-badge {
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        padding: 8px;
    }
</style>

@code {

    IQueryable<int> products;

    protected override async Task OnInitializedAsync()
    {
        await GetProduct();
    }

    private async Task GetProduct()
    {
        var product = await dataService.Service<List<ProductItems>>("Product", HttpMethod.Get);
        foreach(var item in product)
        {
            Console.WriteLine($"item ID : {item.Id}");
            Console.WriteLine($"item NAME : {item.ProductName}");
            Console.WriteLine($"item TYPE : {item.ProductType}");
            Console.WriteLine($"item PRICE : {item.Price}");
            Console.WriteLine($"item AMOUNT : {item.Amount}");
        }
    }

    private void AddProduct()
    {
        // Adding Product
    }

    private void RemoveAdd()
    {
        // Remove Product
    }
}
