@using Radzen
@inherits LayoutComponentBase

<div class="page">
    <main>
        <RadzenCard class="center-screen" >
            <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap" >
                @Body
            </RadzenStack>
        </RadzenCard>
    </main>
</div>


<style>
    .center-screen
    {
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }
</style>

@code {

}
