@inherits LayoutComponentBase
@using ShopProduct.Client.Utility
@using ShopProduct.Shared
@inject DataService DataService
@inject NavigationManager NavManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    public UserLoginData userIdLogin;

    // Get User, If user hasn't log'in, move back to login.html
    protected override async Task OnInitializedAsync()
    {
        Dictionary<string, string> loginHeaders = new Dictionary<string, string>
        {
            { "userId", $"1" },
        };
        var token = await DataService.LoginService<string>("Login/Token", HttpMethod.Get, loginHeaders);

        if (string.IsNullOrEmpty(token))
        {
            NavManager.NavigateTo("/login");
        }
    }
}