@inherits LayoutComponentBase
@using Blazored.LocalStorage
@using ShopProduct.Client.Utility
@using ShopProduct.Shared
@inject ILocalStorageService _localstorage;
@inject DataService DataService
@inject NavigationManager NavManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <RadzenText Text="@UserId"></RadzenText>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    public string UserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UserId = await _localstorage.GetItemAsStringAsync("userId");
        if (string.IsNullOrEmpty(UserId))
        {
            NavManager.NavigateTo("/Login");
        }
        else
        {
            await _localstorage.RemoveItemAsync($"userId");
        }
    }
}